<%= simple_form_for(@hotel) do |f| %>
  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% @hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, label: 'Hotel Name*' %> <br>
    <%= f.input :description, placeholder: 'Add some brief information here about the hotel' %><br>
    <%= f.input :location, label: 'Address'  %><br>
    <%= f.input :stars %><br>
    <%= f.input :website_url, as: :url, placeholder: 'e.g. http://www.longuevillemanor.com'  %><br>
    <%= f.input :booking_url, as: :url, label: 'Link for affiliate booking' %><br>
    <%= f.input :facilites %><br>
    <%= f.input :img_url, as: :url, label: 'Link a webhosted image' %><br>
    <%= f.submit %>
  
<% end %>
