<p id="notice"><%= notice %></p>

<p class="show-img">
  <img src= <%= @hotel.img_url %> class="show-img-size">
</p>


<div class="show-name">
  <%= @hotel.name %>
   
   <span class="show-stars">
     <% ranking = @hotel.stars %> 
        <%= case ranking 
        when 1 then  "*"
        when 2 then  "**"
        when 3 then  "***"
        when 4 then  "****"
        when 5 then  "*****"
        end %>
   </span>
</div>




<div class="show-description">
  <%= @hotel.description %>
</div>


<p class="show-facilites">
  <strong>Facilites:</strong>
  <%= @hotel.facilites %>
</p>


<p class="show-location">
  <strong>Location:</strong>
  <%= @hotel.location %>
</p>


<div class="show-button">
  <div class="show-url view">
    <a href= <%= @hotel.website_url %>>View Hotel</a>
  </div>

  <div class="show-url book">
    <a href= <%= @hotel.booking_url %>>Book Hotel</a>
  </div>
</div>

  <div class="show-button">
    <%= link_to image_tag('http://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/.cache/back_button_gray.png'), hotels_path, :class => 'back-button' %>
  </div>


<div class="show-links">
<%= link_to 'Edit', edit_hotel_path(@hotel) %>
 </div>

