<!DOCTYPE html>
<html>
<head>
  <title>JerseyHotels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="group">
	<h1><a href="localhost:3000">Jersey Hotels</a></h1>
	<nav>
		<ul>
			<li class="button"><%= link_to 'Home', hotels_path %></li>
			<li class="button"><%= link_to 'About', about_path %></li>
			<li class="button"><%= link_to 'New Hotel', new_hotel_path %></li>
			<% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button' %>
          <% end %>
		</ul>
	</nav>
</header>

<main class="content">

	<%= yield %>

</main>

<footer>
	<p> Copyright&copy; 2015 GoTeam | All rights reserved.</p>
</footer>

</body>
</html>
